@charset "UTF-8";

@media screen and (min-width: 768px) {
    * {
        font-size: 1em;
    }

    section {
        width: 500px;
        height: 430px;
    }

    h1 {
        font-size: 3.5em;
    }

    #nome, #senha {
        width: 350px;
    }

    #lembrar {
        transform: translateX(70px);
        font-size: 1em;
    }

    #esqueci {
        transform: translateX(-15px);
        transform: translateY(-2px);
    }
    
    #esqueci-senha {
        font-size: 1em;
    }

    #plogin {
        width: 350px;
        transform: translate(63px, 25px);
    }

    .conta, .conta > a {
        transform: translateY(25px);
    }
}